html,
body {
  color: #2a2b30;
  background-color: #f6f6f6;
  font-family: 'Mukta', sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: inherit;
}

.react-share__ShareButton {
  margin-right: 10px;
}